<h2>List Projects</h2>

<md-content>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="project in $ctrl.projects">
            <div class="md-list-item-text">
                <h3>{{project.headline}}</h3>
                <h4>Target revenue: A - B</h4>
                <p>Check size: X - Y</p>
            </div>
            <md-button ui-sref="edit({project_id: project.id})" class="md-secondary">Edit</md-button>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
